
<link rel="stylesheet" href="view/content/css/atracoes.css">

<div id="adicionar">
<h2>Adicionar Atração</h2>
<form role="form">
	<div class="form-group">
		<label for="criar-atra-nome"><strong>Nome:</strong></label>
		<input id="criar-atra-nome" class="form-control" type="text" size="30" maxlength="30">
	</div>
	<div class="form-group">
		<label for="criar-atra-local"><strong>Local:</strong></label>
		<input id="criar-atra-local" class="form-control" type="text" size="30" maxlength="30">
	</div>
	<div class="form-group">
		<label for="criar-atra-descricao"><strong>Descrição:</strong></label>
		<textarea id="criar-atra-descricao" class="form-control" type="textfield" rows="10" />
	</div>
	<div class="form-group">
		<label for="criar-atra-horario"><strong>Horário:</strong></label>
		<select id="criar-atra-horario" class="form-control">
			<option value="manhã">manhã</option>
			<option value="tarde">tarde</option>
			<option value="noite">noite</option>
		</select>
	</div>
	<div class="form-group">
		<label for="criar-atra-cat"><strong>Categoria:</strong></label>
		<select id="criar-atra-cat" class="form-control">