		</select>
	</div>
	<div id="confirm-add-atra"><i class="glyphicon glyphicon-plus"></i></div>
</form>
<div id="erro-add" style="display:none; padding-top:15px"></div>
<br>
</div>

<div id="alterar" style="display:none">
<h2>Alterar Atração</h2>
<form role="form">
	<div class="form-group">
		<label for="alterar-atra-nome"><strong>Nome:</strong></label>
		<input id="alterar-atra-nome" class="form-control" type="text" size="30" maxlength="30">
	</div>
	<div class="form-group">
		<label for="alterar-atra-local"><strong>Local:</strong></label>
		<input id="alterar-atra-local" class="form-control" type="text" size="30" maxlength="30">
	</div>
	<div class="form-group">
		<label for="alterar-atra-descricao"><strong>Descrição:</strong></label>
		<textarea id="alterar-atra-descricao" class="form-control" type="textfield" rows="10" />
	</div>
	<div class="form-group">
		<label for="alterar-atra-horario"><strong>Horário:</strong></label>
		<select id="alterar-atra-horario" class="form-control">
			<option value="manhã">manhã</option>
			<option value="tarde">tarde</option>
			<option value="noite">noite</option>
		</select>
	</div>
	<div class="form-group">
		<label for="alterar-atra-cat"><strong>Categoria:</strong></label>
		<select id="alterar-atra-cat" class="form-control">
