
<h2>Gerenciar Atrações</h2>
<br>

<style>

	#table{
		margin: 5% auto;
		width: 80%;
	}

	.glyphicon{
		margin-left: 10px;
	}

	.remove:hover{
		cursor: pointer;
		color: #e74c3c;
	}

	.pencil:hover{
		cursor: pointer;
		color: #4aa3df;
	}

</style>

<div id="table">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Local</th>
				<th>Horário</th>
				<th>Descrição</th>
				<th>Categoria</th>
				<th>Excluir</th>
				<th>Atualizar</th>
			</tr>
		</thead>

		<tbody>