
<link rel="stylesheet" href="view/content/css/categorias.css">

<div id="adicionar">
<h2>Adicionar Categoria</h2>
<form class="form-inline">
	<input id="criar-cat" class="form-control" type="text" size="30" maxlength="30">
	<div id="confirm-add-cat"><i class="glyphicon glyphicon-plus"></i></div>
</form>
<div id="erro-add" style="display:none; padding-top:15px"></div>
</div>

<div id="alterar" style="display:none">
<h2>Alterar Categoria</h2>
<form class="form-inline">
	<input id="alterar-cat" class="form-control" type="text" size="30" maxlength="30">
	<div id="confirm-alt-cat"><i class="glyphicon glyphicon-ok"></i></div>
	<div id="unconfirm-alt-cat"><i class="glyphicon glyphicon-remove"></i></div>
</form>
<div id="erro-alt" style="display:none; padding-top:15px"></div>
</div>

<h2>Gerenciar Categorias</h2>

<div id="table">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Excluir</th>
				<th>Atualizar</th>
			</tr>
		</thead>

		<tbody>