		</select>
	</div>
	<div id="confirm-alt-atra"><i class="glyphicon glyphicon-ok"></i></div>
	<div id="unconfirm-alt-atra"><i class="glyphicon glyphicon-remove"></i></div>
</form>
<div id="erro-add" style="display:none; padding-top:15px"></div>
<br>
</div>

<h2>Gerenciar Atrações</h2>

<div id="table">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Local</th>
				<th>Descrição</th>
				<th>Horário</th>
				<th>Categoria</th>
				<th>Excluir</th>
				<th>Atualizar</th>
			</tr>
		</thead>

		<tbody> 